# .github/workflows/tests.yml
name: Run AQA Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Playwright browsers
        run: |
          playwright install chromium

      - name: Run UI and API tests
        run: |
          pytest tests/ --alluredir=./allure-results --tb=short

      - name: Upload Allure results (for manual report generation)
        uses: actions/upload-artifact@v4
        if: always()  # сохранять даже если тесты упали
        with:
          name: allure-results
          path: ./allure-results